<html>
<link rel="stylesheet" type="text/css" href="stylesheets/createaccount.css">
<title>The Sizzling Griddle</title>

<body>
  
  <div class="ui large secondary inverted pointing menu">

        <a href="/" class="active item">Home</a>
        <a href="/login" class="active item">Login</a>
        <a href="/createaccount" class="active item">Sign Up</a>
        <a href="/menu" class="active item">Menu</a>
        <div class="right item">
            <a href="/viewcart" class="ui inverted button">View Cart</a>

        </div>
    </div>
  <div class="ui huge header">Create An Account</div>
  <div class="ui center aligned container">
    <div class="ui inverted segment">
      <div class="ui inverted form">
        <div class="three fields">
          <div class="field">
            <label>First Name</label>
            <input placeholder="First Name" type="text">
          </div>
          <div class="field">
            <label>Last Name</label>
            <input placeholder="Last Name" type="text">
          </div>
        </div>
        <div class="field">
          <label>Email Address</label>
          <input placeholder="Email" type="text">
        </div>
      </div>
      <br>
      <div class="ui huge white submit button">Submit</div>
    </div>
  </div>
  </div>
 
</body>

</html>