<link rel="stylesheet" type="text/css" href="stylesheets/menu.css">
<div class="ui large secondary inverted pointing menu">

        <a href="/" class="active item">Home</a>
        <a href="/login" class="active item">Login</a>
        <a href="/createaccount" class="active item">Sign Up</a>
        <a href="/menu" class="active item">Menu</a>
        <div class="right item">
            <a href="/viewcart" class="ui inverted button">View Cart</a>

        </div>
    </div>
    <div class ="ui container">
<div class="ui huge header">Menu</div>
<table class="ui celled table">
  <thead>
    <tr><th>Entree</th>
    <th>Side</th>
    <th>Drink</th>
    <th>Price</th>
    <th>Image</th>
    <th>Add To Cart</th>
  </tr></thead>
  <tbody>
    <tr>
      <td data-label="Entree">Country Fried Chicken</td>
      <td data-label="Side">French Fries</td>
      <td data-label="Drink">Coke</td>
      <td data-label="Price">$11.99</td>
      <td><img src="/images/country_chicken.jpg" alt="Country Fried Chicken"></img></td>
      <td><a href = "/viewcart">Click me to add to cart!</a></td>
    </tr>
    <tr>
      <td data-label="Entree">Tender Sirloin</td>
      <td data-label="Side">Mac & Cheese</td>
      <td data-label="Drink">Lemonade</td>
      <td data-label="Price">$14.99</td>
      <td><img src="/images/sirloin_steak.jpg" alt="Sirloin Steak"></img></td>
      <td><a href = "/viewcart">Click me to add to cart!</a></td>
    </tr>
    <tr>
      <td data-label="Entree">Chicken Strips</td>
      <td data-label="Side">Mashed Potatoes</td>
      <td data-label="Drink">Sweet Tea</td>
    <td data-label="Price">$9.99</td>
    <td><img src="/images/chicken_strips.jpg" alt="Chicken Strips"></td>
    <td><a href ="/viewcart">Click me to add to cart</a></td>

    </tr>
    <tr>
      <td data-label="Entree">Grilled Cheese</td>
      <td data-label="Side">Green Beans</td>
      <td data-label="Drink">Unsweet Tea</td>
      <td data-label="Price">$12.99</td>
      <td><img src="/images/grilled_cheese.jpg" alt="Grilled Cheese"></img></td>
      <td><a href = "/viewcart">Click me to add to cart!</a></td>
    </tr>
    <tr>
      <td data-label="Entree">Lobster</td>
      <td data-label="Side">Mac & Cheese</td>
      <td data-label="Drink">Arnold Palmer</td>
      <td data-label="Price">$19.99</td>
      <td><img src="/images/lobster.jpg" alt="Lobster"></img></td>
      <td><a href = "viewcart">Click me to add to cart!</a></td>
    </tr>
  </tbody></div>
</table>
